<?xml version = "1.0" ?>
<launch>
<node pkg="tf" type="static_transform_publisher" name="footprint_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <param command="$(find xacro)/xacro $(find navbot_description)/urdf/navbot.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model navbot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find navbot_description)/worlds/myhome.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>